* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 50px;
    background: whitesmoke;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 45px;
    background: #7DF9FF;
    border-radius: 5px;
    padding: 10px;
}

div {
    border: 3px cyan groove;
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
}

#continue {
    margin: 20px;
    border-radius: 15px;
    width: -webkit-fill-available;
    height: 50px;
    background: lightgreen;
    font-size: 20px;
}

#continue:hover {
    cursor: pointer;
    background: #7CFC00;
}