* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 50px;
    background: whitesmoke;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 45px;
    background: #7DF9FF;
    border: 3px #7DF9FF inset;
    border-radius: 5px;
    padding: 10px;
}

.panel {
    border: 3px cyan inset;
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
}

#continue {
    margin: 20px;
    border: 2px lightgreen inset;
    border-radius: 15px;
    width: -webkit-fill-available;
    height: 50px;
    background: lightgreen;
    font-size: 20px;
}

#continue:hover {
    cursor: pointer;
    background: #7CFC00;
}

.elevator {
    width: 200px;
}

.eLabel {
    display: inline-block;
    margin-left: 65px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.elevClose {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.elevClose:hover {
  color: black;
}

#elevSucc {
    background-color: #7CFC00;
    color: black;
}

#passInput {
    width: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
}

.charBox {
    width: 50px;
    height: 50px;
    border: 1px black solid;
  }